# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# DVC cache
.dvc/cache/

# Data
data/raw/*
data/processed/*

# Models
models/*

# IDE
.idea/
.vscode/