# Virtual environment
.venv/
.venv_heart/

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# DVC
.dvc/cache/
.dvc/tmp/
*.dvc.lock

# Models (бинарники; код и DVC-метаданные коммитим)
models/*
!models/.gitkeep

# IDE
.idea/
.vscode/